<% include ./partials/header %>


<div class="container">
	<div class="row">
		<h1 style="text-align: center;">Register</h1>
			<div style="width:30%; margin: 30px auto;">
				<div class="form-group">
			<form action="/register" method="POST">
			<input class="form-control" type="text" name="username" placeholder="Username">
			<input class="form-control" type="password" name="password" placeholder="Password">
			<button class="btn btn-large btn-primary btn-block" type="Submit">Login</button>
			</form>
			</div>
		</div>
	</div>
</div>

<% include ./partials/footer %>